{% extends "base.html" %}

{% block title %}Flashcard Add{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form action="{% url 'add-card-batch' %}" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        <!-- Error messaging -->
                        <div id="errors">
                            <div class="inner">
                                <p>There were some errors in the information you entered. Please correct the
                                    following:</p>
                                {{ form.non_field_errors }}
                                <ul>
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- /Error messaging -->
                    {% endif %}

                        <div class="form-group ">
                            <label for="id_deck">Deck</label>
                            <input type="text" name="deck" id="id_deck" class="form-control">
                        </div>
                    <div class="form-group">
                        <label for="id_question">Questions</label> <small>New word, new line. Press ENTER for new line.</small>
                        <textarea class="form-control" rows=40
                                  id="id_question"
                                  name="question"></textarea>
                    </div>



                    <button type="submit" class="btn btn-default">Add</button>
                </form>
            </div>
        <div class="md-col-2"><a class="btn btn-success" href="{% url 'add-card-deck' %}"><i class="fa fa-plus"></i>Add New Deck</a> </div>
        </div>
    </div>


{% endblock %}
{% block javascript %}
    {% load static %}
    <script src="{% static "js/bootstrap-select.min.js" %}"></script>
    <link href="{% static "css/bootstrap-select.min.css" %}" rel="stylesheet">
    <script>

        $(function () {
            $('#id_deck').selectpicker({});
        });
    </script>

{% endblock %}




