{% extends "base.html" %}
{% load bootstrap3 %}
{% load app_tags %}
{% block title %}Flashcard Home{% endblock %}
{% block content %}
    <div class="container">
        <h1>Decks</h1>
        <div class="row">
            <div class=" bg-info col-sm-8 col-xs-7">
                <i class="fa fa-random"></i> <a href="{% url 'study_random' %}">Rastgele 50 Kelime</a>

            </div>

        </div>
        {% for deck in decks %}
            <div class="row deck-row">
                <div class="col-sm-8 col-xs-7">
                    <a id="deckname{{ deck.id }}" href="{% url "study" deck.id %}">{{ deck.name|upper }}</a>
                </div>
                <div class="col-sm-1 col-xs-1">
                    {% get_card_num deck %}
                </div>
                {% if user.is_superuser %}
                    <div class="col-sm-1 col-xs-1">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Action
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" onclick="renameHandler(this, {{ deck.id }});">Rename</a></li>
                                <li><a href="#" onclick="deleteHandler(this, {{ deck.id }});">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}

            </div>
        {% endfor %}
    </div>

{% endblock %}
{% block javascript %}
    {% load static %}
    <script src="{% static "flashcardgui/decks.js" %}"></script>
{% endblock %}

