{% extends "base.html" %}

{% block title %}Flashcard Home{% endblock %}
{% block content %}
    {% load static %}

        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-xs-1" id="buttons">
                <a href="#" onclick="resetHandler(this, {{ deck_id }});" id="reset-button" class="btn btn-default">Reset Test</a>
            </div>
            <div class="col-sm-1 col-sm-offset-10 col-xs-1 col-xs-offset-10" id="status">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <div id="question" class="text-uppercase h2"></div>
                    <div id="countdown"><div id="bar" class="bar h3"></div></div>
                        <div class="row">
            <div class="col-sm-12 text-center" id="result-row">
            </div>
        </div>
                </div>

            </div>
        </div>
                <div id="answer"></div>
    <canvas id="chart" class="chartjs" width="undefined" height="undefined"></canvas>

<div class="modal"></div>



<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" style="margin:10px auto;">
    <div class="modal-content">
      <div class="modal-body" style="padding-top:7px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <div id="modal_title"></div>

		<video id="modal_video" class="vid" autoplay muted  preload="metadata">
			<source src="" />
		</video>


			<div id="playinVidCont">
				<!-- <div id="vid_status" class="vid_butts"></div> -->
				<div id="vid_bar" style="display:block;height:10px;background-color:#aaa;border:1px solid;"><div id="vid_bar_cur" style="display:block;height:100%;background-color:red;width:0px;"></div></div>

				<div id="vid_kontrolz">

					<div id="vid_curTime" class="vid_kontrolz_commonz" style="font-size:1.2em;font-weight:600;">00.00</div>
					<div id="vid_duration" class="vid_kontrolz_commonz" style="font-size:1.2em;font-weight:600;"></div>
					<div id="vid_progress" class="vid_kontrolz_commonz" ></div>
					<div class="vidPlayParmzCont">
					<div id="vid_playSpdz" class="vid_kontrolz_commonz" >
						<div id="vid_playXq" data-spd="0.25" class="vid_spdz pntr">X 0.25</div>
						<div id="vid_playXh" data-spd="0.50" class="vid_spdz pntr">X 0.50</div>
						<div id="vid_playX1" data-spd="1.00" class="vid_spdz pntr vid_spd_active">X 1.00</div>
					</div>

					<div id="vid_playPause" class="" style="display:inline-block;">
					<!-- play-circle pause-circle  circle-o-notch-->
						<i id="vid_playin" class="fa fa-pause-circle fa-lg fa-2x pntr" style="position:relative;top:2px;left:6px;" aria-hidden="true"></i>
						<!-- <i id="vid_loopin" class="fa fa-circle-o-notch fa-lg pntr" style="position:relative;top:0px;left:16px;" aria-hidden="true"></i> -->
						<i id="vid_loopin" class="fa fa-repeat fa-lg pntr" style="position:relative;top:0px;left:16px;" aria-hidden="true"></i>
					</div>
					</div>

				</div>

			</div>

      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block javascript %}
    <script src="{% static "flashcardgui/study.js" %}"></script>
    <script src="{% static "flashcardgui/decks.js" %}"></script>


    <script>php_lang = "tr"</script>

    <script type="text/javascript">


    </script>
    <script src="http://tidsozluk.net/jsS/siteIncs_v3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

{% endblock %}
